In [1]:
import pandas as pd

In [2]:
first = pd.read_csv('first.csv')
second = pd.read_csv('atlanta.csv')
third = pd.read_csv('austin.csv')
fourth = pd.read_csv('boston.csv')
fifth = pd.read_csv('chicago.csv')
sixth = pd.read_csv('denver.csv')
seventh = pd.read_csv('kansas city.csv')
eighth = pd.read_csv('los angeles.csv')
ninth = pd.read_csv('minneapolis.csv')
tenth = pd.read_csv('portland.csv')
eleventh = pd.read_csv('san francisco.csv')

In [4]:
raw_df = pd.concat([first,second,third,fourth,fifth,sixth,seventh,eighth,ninth,tenth,eleventh])

In [5]:
raw_df.shape

(11976, 33)

In [6]:
raw_df.to_csv('raw_df.csv')